<!-- COMBATANT CREATION -->
<ng-content *ngIf="!update; else Update">
  <form [formGroup]="combatantCreationForm" (ngSubmit)="onCreationSubmit()">
    <div class="field">
      <div class="label-and-input">
        <label for="name">Combatant Name:</label
        ><input
          formFocus
          class="large-field"
          id="name"
          type="text"
          [placeholder]="
            name?.dirty && name?.value == '' ? 'Name required' : 'Enter name'
          "
          formControlName="name"
        />
      </div>
    </div>

    <div class="field">
      <div class="label-and-input">
        <label for="score">Initiative Score:</label
        ><input
          class="large-field"
          id="score"
          type="text"
          [placeholder]="
            score?.dirty && score?.value == ''
              ? 'Score required'
              : 'Enter score'
          "
          formControlName="score"
        />
      </div>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="!combatantCreationForm.valid">
        Submit
      </button>
      <button (click)="handleCloseModal()">Cancel</button>
    </div>
  </form>
</ng-content>

<!-- COMBATANT UPDATE -->
<ng-template #Update>
  <form [formGroup]="combatantUpdateForm" (ngSubmit)="onUpdateSubmit()">
    <!-- NAME UPDATE FORM -->
    <ng-content *ngIf="updateAttribute == 'name'">
      <div class="field">
        <div class="label-and-input">
          <label for="updateName">Combatant Name:</label
          ><input
            formFocus
            class="large-field"
            id="updateName"
            type="text"
            [placeholder]="combatant ? combatant.name : ''"
            formControlName="updateName"
          />
        </div>
      </div>
      <div class="buttons">
        <button type="submit">Submit</button>
        <button (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-content>

    <!-- TYPE UPDATE FORM -->
    <ng-content *ngIf="updateAttribute == 'type'">
      <div class="field">
        <div class="label-and-input">
          <label for="updateType">Combatant Type:</label
          ><select>
            <option value="TEST1">TEST1</option>
            <option value="TEST2">TEST2</option>
            <option value="TEST3">TEST3</option>
          </select>
        </div>
      </div>
      <div class="buttons">
        <button type="submit">Submit</button>
        <button (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-content>

    <!-- SCORE UPDATE FORM -->
    <ng-content *ngIf="updateAttribute == 'score'">
      <div class="field">
        <div class="label-and-input">
          <label for="updateScore">Initiative Score:</label
          ><input
            class="large-field"
            id="updateScore"
            type="text"
            [placeholder]="combatant ? combatant.score : ''"
            formControlName="updateScore"
          />
        </div>
      </div>
      <div class="buttons">
        <button type="submit">Submit</button>
        <button (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-content>
  </form>
</ng-template>
