<!-- COMBATANT CREATION -->
<ng-content *ngIf="!updateAttribute; else Update">
  <form
    [formGroup]="combatantCreationForm"
    (ngSubmit)="onCreationSubmit()"
    cdkTrapFocus
  >
    <div class="field">
      <div class="label-and-input">
        <label for="name">Combatant Name:</label
        ><input
          formFocus
          class="large-field"
          id="name"
          type="text"
          [placeholder]="
            name?.dirty && name?.value == '' ? 'Name required' : 'Enter name'
          "
          formControlName="name"
        />
      </div>
    </div>

    <ng-content *ngIf="initiative$ | async">
      <div class="field">
        <div class="label-and-input">
          <label for="score">Initiative Score:</label
          ><input
            class="large-field"
            id="score"
            type="text"
            [placeholder]="
              score?.dirty && score?.value == ''
                ? 'Score required'
                : 'Enter score'
            "
            formControlName="score"
          />
        </div>
      </div>
    </ng-content>

    <div class="buttons">
      <button type="submit" [disabled]="!combatantCreationForm.valid">
        Submit
      </button>
      <button type="button" (click)="handleCloseModal()">Cancel</button>
    </div>
  </form>
</ng-content>

<!-- COMBATANT UPDATE -->
<ng-template #Update>
  <form
    [formGroup]="combatantUpdateForm"
    (ngSubmit)="onUpdateSubmit()"
    cdkTrapFocus
  >
    <!-- NAME UPDATE FORM -->
    <ng-content *ngIf="updateAttribute == 'name'">
      <div class="field">
        <div class="label-and-input">
          <label for="updateName">Combatant Name:</label
          ><input
            formFocus
            class="large-field"
            id="updateName"
            type="text"
            [placeholder]="combatant ? combatant.name : ''"
            formControlName="updateName"
          />
        </div>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!updateName?.dirty">Submit</button>
        <button type="button" (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-content>

    <!-- TYPE UPDATE FORM -->
    <ng-content *ngIf="updateAttribute == 'type'">
      <div class="field">
        <div class="label-and-input">
          <label for="updateType">Combatant Type:</label
          ><select #options (change)="onSelection(options.value)" formFocus>
            <option [value]="combatant?.type" selected>
              {{ combatant?.type }}
            </option>
            <option [value]="selectOptions[1]">{{ selectOptions[1] }}</option>
            <option [value]="selectOptions[2]">{{ selectOptions[2] }}</option>
          </select>
        </div>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!selectionMade">Submit</button>
        <button type="button" (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-content>

    <!-- SCORE UPDATE FORM -->
    <ng-content *ngIf="updateAttribute == 'score'">
      <div class="field">
        <div class="label-and-input">
          <label for="updateScore">Initiative Score:</label
          ><input
            formFocus
            class="large-field"
            id="updateScore"
            type="text"
            [placeholder]="combatant ? combatant.score : ''"
            formControlName="updateScore"
          />
        </div>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!updateScore?.dirty">Submit</button>
        <button type="button" (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-content>
  </form>
</ng-template>
