<!-- COMBATANT CREATION FORM -->
<ng-content *ngIf="!update; else NameUpdate">
  <form [formGroup]="combatantCreationForm" (ngSubmit)="onCreationSubmit()">
    <div class="field">
      <div class="label-and-input">
        <label for="name">Combatant Name:</label
        ><input
          formFocus
          class="large-field"
          id="name"
          type="text"
          [placeholder]="
            name?.dirty && name?.value == '' ? 'Name required' : 'Enter name'
          "
          formControlName="name"
        />
      </div>
    </div>

    <div class="field">
      <div class="label-and-input">
        <label for="score">Initiative Score:</label
        ><input
          class="large-field"
          id="score"
          type="text"
          [placeholder]="
            score?.dirty && score?.value == ''
              ? 'Score required'
              : 'Enter score'
          "
          formControlName="score"
        />
      </div>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="!combatantCreationForm.valid">
        Submit
      </button>
      <button (click)="handleCloseModal()">Cancel</button>
    </div>
  </form>
</ng-content>

<!-- NAME UPDATE FORM -->
<ng-template #NameUpdate>
  <form [formGroup]="combatantUpdateForm" (ngSubmit)="onUpdateSubmit()">
    <ng-content *ngIf="updateType == 'name'; else ScoreUpdate">
      <div class="field">
        <div class="label-and-input">
          <label for="updateName">Combatant Name:</label
          ><input
            formFocus
            class="large-field"
            id="updateName"
            type="text"
            [placeholder]="'Enter name'"
            formControlName="updateName"
          />
        </div>
      </div>
      <div class="buttons">
        <button type="submit">Submit</button>
        <button (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-content>

    <!-- SCORE UPDATE FORM -->
    <ng-template #ScoreUpdate>
      <div class="field">
        <div class="label-and-input">
          <label for="updateScore">Initiative Score:</label
          ><input
            class="large-field"
            id="updateScore"
            type="text"
            [placeholder]="'Enter score'"
            formControlName="updateScore"
          />
        </div>
      </div>
      <div class="buttons">
        <button type="submit">Submit</button>
        <button (click)="handleCloseModal()">Cancel</button>
      </div>
    </ng-template>
  </form>
</ng-template>
