:host {
  height: 100%;
}

.main-button-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  button {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
    min-width: 150px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
  }

  .player {
    background-color: var(--player);
  }

  .monster {
    background-color: var(--monster);
  }

  .npc {
    background-color: var(--npc);
  }
}
