<div class="main-button-menu">
  <!-- PLAYER/MONSTER/NPC BUTTONS -->
  <div>
    <button
      class="player"
      (click)="handleAddCombatantClick(colorScheme.player, modalText.player)"
    >
      Add Player
    </button>
    <button
      class="monster"
      (click)="handleAddCombatantClick(colorScheme.monster, modalText.monster)"
    >
      Add Monster
    </button>
    <button
      class="npc"
      (click)="handleAddCombatantClick(colorScheme.npc, modalText.npc)"
    >
      Add NPC
    </button>
  </div>

  <!-- SAVE/LOAD/CLEAR BUTTONS -->
  <div>
    <button (click)="handleToggleInitiative()">
      Initiative {{ (initiative$ | async) ? "Off" : "On" }}
    </button>
    <button (click)="handleSavePartyClick()">Save Party</button>
    <button
      (click)="handleLoadSavedPartyClick()"
      [disabled]="!(savedParty$ | async)?.length"
    >
      Load Party
    </button>
    <button (click)="handleClearAllClick()">Clear All</button>
  </div>
</div>
