<div class="combatant-creation-menu">
  <!-- PLAYER/MONSTER/NPC BUTTONS -->
  <div>
    <button
      class="player"
      (click)="handleAddCombatantClick(colorScheme.player, modalText.player)"
    >
      Player
    </button>
    <button
      class="monster"
      (click)="handleAddCombatantClick(colorScheme.monster, modalText.monster)"
    >
      Monster
    </button>
    <button
      class="npc"
      (click)="handleAddCombatantClick(colorScheme.npc, modalText.npc)"
    >
      NPC
    </button>
  </div>

  <!-- SAVE/LOAD/CLEAR BUTTONS -->
  <div>
    <button (click)="handleSavePartyClick()">Save Party</button>
    <button
      (click)="handleLoadSavedPartyClick()"
      [disabled]="!(savedParty$ | async)?.length"
    >
      Load Saved Party
    </button>
    <button (click)="handleClearAllClick()">Clear All</button>
  </div>
</div>
