.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  .content-container {
    border-top: solid 8px rgb(120, 120, 120);
    border-right: solid 8px rgb(50, 50, 50);
    border-bottom: solid 8px rgb(50, 50, 50);
    border-left: solid 8px rgb(120, 120, 120);
  }

  .main-modal {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content-container {
      border-top: solid 8px rgb(50, 50, 50);
      border-right: solid 8px rgb(120, 120, 120);
      border-bottom: solid 8px rgb(120, 120, 120);
      border-left: solid 8px rgb(50, 50, 50);
    }
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 4rem;
        text-align: center;
        line-height: 1;
        margin-bottom: var(--spacing-l);
      }

      .clear-all-buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
