<div class="overlay">
  <div class="content-container main-modal">
    <div
      class="content-container content"
      [ngStyle]="{ 'background-color': colorScheme }"
    >
      <h1 class="title">{{ modalText }}</h1>

      <!-- MODAL CONTENTS FOR ADDING COMBATANTS -->
      <ng-content *ngIf="modalContent == 'addCombatant'">
        <app-combatant-entry-form
          [colorScheme]="colorScheme"
          [modalText]="modalText"
        ></app-combatant-entry-form
      ></ng-content>

      <!-- MODAL CONTENTS FOR UPDATING NAMES -->
      <ng-content *ngIf="modalContent == 'updateName'">
        <app-combatant-entry-form
          [update]="true"
          [updateAttribute]="'name'"
          [colorScheme]="colorScheme"
          [modalText]="modalText"
        ></app-combatant-entry-form
      ></ng-content>

      <!-- MODAL CONTENTS FOR UPDATING TYPES -->
      <ng-content *ngIf="modalContent == 'updateType'">
        <app-combatant-entry-form
          [update]="true"
          [updateAttribute]="'type'"
          [colorScheme]="colorScheme"
          [modalText]="modalText"
        ></app-combatant-entry-form
      ></ng-content>

      <!-- MODAL CONTENTS FOR UPDATING SCORES -->
      <ng-content *ngIf="modalContent == 'updateScore'">
        <app-combatant-entry-form
          [update]="true"
          [updateAttribute]="'score'"
          [colorScheme]="colorScheme"
          [modalText]="modalText"
        ></app-combatant-entry-form
      ></ng-content>

      <!-- MODAL CONTENTS FOR SAVING A PARTY -->
      <div class="clear-all-buttons" *ngIf="modalContent == 'saveParty'">
        <button
          (click)="handleSaveAll()"
          [disabled]="!(combatants$ | async)?.length"
        >
          Save
        </button>
        <button (click)="handleCloseModal()">Cancel</button>
      </div>

      <!-- MODAL CONTENTS FOR LOADING A PARTY -->
      <div class="clear-all-buttons" *ngIf="modalContent == 'loadParty'">
        <button (click)="handleLoadSavedParty()">Load Group</button>
        <button (click)="handleCloseModal()">Cancel</button>
      </div>

      <!-- MODAL CONTENTS FOR CONFIRMING A "CLEAR ALL" -->
      <div class="clear-all-buttons" *ngIf="modalContent == 'clearAll'">
        <button (click)="handleClearAll()">Yes</button>
        <button (click)="handleCloseModal()">No</button>
      </div>
    </div>
  </div>
</div>
