.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 22, 22, 0.8);

  .main-modal {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/20220213_170245.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: var(--secondary-bg);
    border-color: var(--modal-border);

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
        margin-bottom: var(--spacing-l);
      }

      form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-l);
        font-size: 2rem;

        .field {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .label-and-input {
            display: flex;
            justify-content: space-between;
          }

          label {
            margin-right: var(--spacing-l);
          }

          input {
            height: 30px;
            min-width: 200px;
            font-size: 2rem;
          }

          .error-message {
            color: var(--logo-text);
            align-self: flex-end;
          }
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          gap: var(--spacing-l);
        }

        button {
          max-width: fit-content;

          &:disabled {
            filter: brightness(80%);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
