.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  .main-modal {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/20220213_170245.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: var(--secondary-bg);
    border-top: solid 8px var(--light-shadow-border);
    border-right: solid 8px var(--dark-shadow-border);
    border-bottom: solid 8px var(--dark-shadow-border);
    border-left: solid 8px var(--light-shadow-border);

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 4rem;
        text-align: center;
        line-height: 1;
        margin-bottom: var(--spacing-l);
      }

      .clear-all-buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
