<div class="overlay">
  <div class="content-container main-modal">
    <div
      class="content-container content"
      [ngStyle]="{ 'background-color': modalColor }"
    >
      <h1 class="title">Add {{ combatantType }}</h1>
      <form [formGroup]="combatantForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <div class="label-and-input">
            <label for="name">Combatant Name:</label
            ><input
              formFocus
              id="name"
              type="text"
              [placeholder]="
                name?.dirty && name?.value == ''
                  ? 'Name required'
                  : 'Enter name'
              "
              formControlName="name"
            />
          </div>
        </div>

        <div class="field">
          <div class="label-and-input">
            <label for="name">Initiative Score:</label
            ><input
              id="score"
              type="text"
              [placeholder]="
                score?.dirty && score?.value == ''
                  ? 'Score required'
                  : 'Enter score'
              "
              formControlName="score"
            />
          </div>
        </div>

        <div class="buttons">
          <button type="submit" [disabled]="!combatantForm.valid">
            Submit
          </button>
          <button type="button" (click)="handleCloseModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
