.row {
  display: flex;
  padding: var(--spacing-m);
  font-size: 2rem;
  border: 4px solid var(--button-border);
  align-items: stretch;
  gap: 0.5em;

  .row-item {
    width: 100%;
    text-align: center;

    button {
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      padding: var(--spacing-s) var(--spacing-l);

      &:hover {
        border: 2px solid var(--button-border);
      }
    }
  }

  input {
    border: none;
    font-size: 2rem;
    background: none;

    &:focus {
      outline: 0;
    }
  }

  .delete {
    min-width: max-content;

    button {
      display: flex;
      padding: var(--spacing-s);

      mat-icon {
        font-weight: 900;
      }
    }
  }
}
