<div class="row" [ngStyle]="getRowAndButtonColor()">
  <div class="row-item">
    <button [ngStyle]="getRowAndButtonColor()" (click)="toggleNameEditor()">
      {{ combatant.name }}
    </button>
    <!-- <input
      type="text"
      name="name"
      [(ngModel)]="combatant.name"
      (change)="handleUpdateCombatant(index, 'name', combatant.name)"
      aria-label="combatant name"
    /> -->
  </div>
  <div class="row-item">
    <button [ngStyle]="getRowAndButtonColor()" (click)="toggleTypeEditor()">
      {{ combatant.type }}
    </button>
  </div>
  <div class="row-item">
    <button [ngStyle]="getRowAndButtonColor()" (click)="toggleScoreEditor()">
      {{ combatant.score }}
    </button>
    <!-- <input
      type="text"
      name="score"
      [(ngModel)]="combatant.score"
      (change)="handleUpdateCombatant(index, 'score', combatant.score)"
      aria-label="combatant initiative score"
    /> -->
  </div>
  <div class="delete">
    <button (click)="handleRemoveCombatant(index)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
