.row {
  display: flex;
  justify-content: space-between;

  .row-item {
    width: 100%;
    text-align: center;

    button {
      width: fit-content;
      height: 100%;
      border: 2px solid transparent;
      padding: 0 var(--spacing-l);

      &:hover {
        border: 2px solid var(--button-bg-border);
      }
    }
  }

  input {
    border: none;
    font-size: 2rem;
    background: none;

    &:focus {
      outline: 0;
    }
  }

  .delete {
    min-width: max-content;

    button {
      display: flex;
      padding: 0;

      mat-icon {
        font-weight: 900;
      }
    }
  }
}
