.row {
  display: flex;
  padding: var(--spacing-m);
  border-top: 4px solid var(--topleft-button-border);
  border-right: 4px solid var(--bottomright-button-border);
  border-bottom: 4px solid var(--bottomright-button-border);
  border-left: 4px solid var(--topleft-button-border);
  align-items: stretch;
  gap: 0.5em;

  .row-item {
    width: 100%;
    text-align: center;

    button {
      width: fit-content;
      font-size: 2.5rem;
      height: 100%;
      border: 2px solid transparent;
      padding: 0 var(--spacing-l);

      &:hover {
        border: 2px solid var(--button-border);
      }
    }
  }

  input {
    border: none;
    font-size: 2rem;
    background: none;

    &:focus {
      outline: 0;
    }
  }

  .delete {
    min-width: max-content;

    button {
      display: flex;
      padding: 0;

      mat-icon {
        font-weight: 900;
      }
    }
  }
}
