<div class="row" [ngStyle]="{ 'background-color': combatant.color }">
  <div class="name">
    <input
      type="text"
      name="name"
      [value]="combatant.name ? combatant.name : 'Name'"
      aria-label="combatant name"
    />
  </div>
  <div class="type">
    <p>{{ combatant.type }}</p>
  </div>
  <div class="score">
    <input
      type="text"
      name="score"
      [value]="combatant.score ? combatant.score : 'Score'"
      aria-label="combatant initiative score"
    />
  </div>
  <div class="delete">
    <button (click)="handleRemoveCombatant(index)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
