<div class="combatant-creation-menu">
  <!-- PLAYER/MONSTER/NPC BUTTONS -->
  <div>
    <button
      class="player"
      (click)="
        handleAddCombatantClick(combatantType.player, ColorScheme.player)
      "
    >
      Player
    </button>
    <button
      class="monster"
      (click)="
        handleAddCombatantClick(combatantType.monster, ColorScheme.monster)
      "
    >
      Monster
    </button>
    <button
      class="npc"
      (click)="handleAddCombatantClick(combatantType.npc, ColorScheme.npc)"
    >
      NPC
    </button>
  </div>

  <!-- SAVE/LOAD/CLEAR BUTTONS -->
  <div>
    <button (click)="handleSavePartyClick()">Save Party</button>
    <button
      (click)="handleLoadSavedPartyClick()"
      [disabled]="!(savedParty$ | async)?.length"
    >
      Load Saved Party
    </button>
    <button (click)="handleClearAllClick()">Clear All</button>
  </div>
</div>
