<app-navbar></app-navbar>
<div class="page-container">
  <div class="about-container">
    <!-- CREDITS -->
    <div class="content-container about-text extra-padding">
      <p class="highlight-text">Visual Design:</p>
      <p>Joe Loftus</p>
      <div class="line-break"></div>
      <p class="highlight-text">Programming:</p>
      <p>Joe Loftus</p>
      <div class="line-break"></div>
      <p class="highlight-text">Special Thanks:</p>
      <p>Ryan Piaxao - Mentor and Friend</p>
      <p>Jack Henry - Additional Programming</p>
      <p>Juliet Loftus - Supportive Wife</p>
    </div>
  </div>
</div>
