<div class="page-container">
  <div class="home-container">
    <div class="content-container home-text extra-padding">
      <div>
        <p class="center-text">Welcome to</p>
        <p class="logo logo-large center-text">Battle Plan</p>
        <div class="line-break"></div>
      </div>
      <p>
        Now you can track your combat turn order for any tabletop role playing
        game!
      </p>
      <p>
        Add players, monsters, and NPCs to the battlefield or remove them just
        as easily.
      </p>
      <p>
        Combatants are automatically sorted by their initiative score. You can
        dynamically add or remove combatants mid-fight, edit names or scores, or
        clear the entire list to get ready for the next battle. You can even
        save your party information to easily submit multiple combatants all at
        once!
      </p>
    </div>
    <div class="content-container">
      <app-nav-buttons
        [buttonOneRoute]="'/battlefield'"
        [buttonOneText]="'Battlefield'"
        [buttonTwoRoute]="'/about'"
        [buttonTwoText]="'About'"
      ></app-nav-buttons>
    </div>
  </div>
</div>
