<div class="page-container">
  <div class="home-container">
    <!-- WELCOME SCREEN -->
    <div class="content-container home-text extra-padding">
      <div>
        <p class="logo logo-large center-text">Battle Plan</p>
      </div>
      <div class="line-break"></div>
      <p>Easily track your turn order for any tabletop role playing game!</p>
      <ul>
        <li>Combatants are automatically sorted by their initiative score.</li>
        <li>Dynamically add or remove combatants mid fight.</li>
        <li>Edit names, types, and scores.</li>
        <li>Save your party's information for quick-load feature.</li>
        <li>Clear the entire list to get ready for a new battle.</li>
      </ul>
    </div>

    <!-- NAVIGATION BUTTONS TO ABOUT AND BATTLEFIELD -->
    <div class="content-container">
      <app-nav-buttons
        [buttonOneRoute]="'/about'"
        [buttonOneText]="'About'"
        [buttonTwoRoute]="'/battlefield'"
        [buttonTwoText]="'Battle'"
      ></app-nav-buttons>
    </div>
  </div>
</div>
