/* ----------------- */
/* Custom properties */
/* ----------------- */
:root {
  /* background colors */
  --primary-bg: #320c63;
  --secondary-bg: #0d051d;

  /* text colors */
  --primary-text: #1e1f22;
  --secondary-text: rgb(231, 185, 57);

  /* combatant colors */
  --player: #328b70;
  --npc: #5979b6;
  --monster: #b15959;

  /* spacing */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 20px;
}

/* --------- */
/* CSS Reset */
/* --------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ---------------- */
/* Base Page Layout */
/* ---------------- */
.page-container {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
