/* ----------------- */
/* Custom properties */
/* ----------------- */
:root {
  /* background colors */
  --primary-bg: #320c63;
  --secondary-bg: #5c3aa0;

  /* border colors */
  --primary-border: rgb(133, 30, 143);

  /* text colors */
  --primary-text: #e6e6e6;
  --secondary-text: rgb(231, 185, 57);

  /* combatant colors */
  --player: #328b70;
  --npc: #5979b6;
  --monster: #b15959;

  /* spacing */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 20px;
}

/* ------------------ */
/* Baseline CSS Reset */
/* ------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* --------------- */
/* Base App Layout */
/* --------------- */
body {
  background-image: url("../src/app/images/20220213_170245.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  padding: var(--spacing-xl);
}

.content-container {
  background-color: var(--primary-bg);
  border: solid 2px var(--primary-border);
  padding: var(--spacing-xl);
}
