/* ----------------- */
/* Custom properties */
/* ----------------- */
:root {
  /* background colors */
  --primary-bg: #1b0538;
  --secondary-bg: #695b85;

  /* text colors */
  --primary-text: #181717;
  --logo-text: #dcd929;

  /* border colors */
  --primary-border: #8a1e94;
  --modal-border: #2b2b2b;

  /* button colors */
  --button: #c1c1c1;
  --button-border: rgba(0, 0, 0, 0.4);

  /* combatant colors */
  --player: #2bb78d;
  --monster: #df5858;
  --npc: #5986da;

  /* spacing */
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 20px;
}

/* ------------------ */
/* Baseline CSS Reset */
/* ------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  font-size: 10px;
  min-height: 100%;
  min-width: 100%;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ----------------------- */
/* Base Component Stylings */
/* ----------------------- */

button {
  padding: var(--spacing-m) var(--spacing-l);
  color: var(--primary-text);
  background-color: var(--button);
  border: 2px solid var(--button-border);
  font-size: 2rem;
}

button:hover {
  filter: brightness(120%);
  border: 2px solid var(--button-border);
}

input:hover {
  cursor: pointer;
  outline: 4px solid var(--button-border);
}

/* --------------- */
/* Base App Layout */
/* --------------- */
body {
  background-image: url("../src/app/images/20220213_170245.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  min-height: 100vh;
  min-width: 100vw;
}

.page-container {
  position: relative;
  display: flex;
  gap: var(--spacing-l);
  height: 100%;
  width: 100%;
  padding: var(--spacing-l);
}

.content-container {
  background-color: var(--primary-bg);
  border: solid 2px var(--primary-border);
  padding: var(--spacing-l);
}

.title {
  color: var(--logo-text);
  font-size: 4rem;
  text-align: center;
}
