/* ----------------- */
/* Custom properties */
/* ----------------- */
:root {
  /* background colors */
  --primary-bg: #04062b;
  --secondary-bg: #6d6975;

  /* text colors */
  --primary-text: #181717;
  --logo-text: goldenrod;

  /* border colors */
  --dark-shadow-border: #272323;
  --light-shadow-border: #675d5d;
  --modal-border: #2b2b2b;

  /* button colors */
  --button: #c1c1c1;
  --topleft-button-border: rgba(0, 0, 0, 0.2);
  --bottomright-button-border: rgba(0, 0, 0, 0.6);

  /* combatant colors */
  --player: #2bb78d;
  --monster: #df5858;
  --npc: #5986da;

  /* spacing */
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 20px;
}

/* ------------------ */
/* Baseline CSS Reset */
/* ------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  font-size: 10px;
  min-height: 100%;
  min-width: 100%;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ----------------------- */
/* Base Component Stylings */
/* ----------------------- */

button {
  padding: var(--spacing-m) var(--spacing-l);
  color: var(--primary-text);
  background-color: var(--button);
  border-top: 4px solid var(--topleft-button-border);
  border-right: 4px solid var(--bottomright-button-border);
  border-bottom: 4px solid var(--bottomright-button-border);
  border-left: 4px solid var(--topleft-button-border);
  font-size: 2rem;
}

button:hover {
  filter: drop-shadow(2px 2px 1px goldenrod)
    drop-shadow(-2px -2px 1px goldenrod) drop-shadow(-2px 2px 1px goldenrod)
    drop-shadow(2px -2px 1px goldenrod) brightness(130%);
  border-top: 4px solid var(--topleft-button-border);
  border-right: 4px solid var(--bottomright-button-border);
  border-bottom: 4px solid var(--bottomright-button-border);
  border-left: 4px solid var(--topleft-button-border);
  cursor: pointer;
}

input {
  border-radius: 0;
  border-top: solid 4px var(--dark-shadow-border);
  border-right: solid 4px var(--light-shadow-border);
  border-bottom: solid 4px var(--light-shadow-border);
  border-left: solid 4px var(--dark-shadow-border);
  padding: 0 var(--spacing-s);

  &:hover {
    cursor: pointer;
    outline: 4px solid var(--button-border);
  }

  &:focus {
    outline: 4px solid var(--button-border);
  }
}

/* --------------- */
/* Base App Layout */
/* --------------- */
body {
  background-image: url("../src/app/images/20220213_170245.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  min-height: 100vh;
  min-width: 100vw;
}

.page-container {
  position: relative;
  display: flex;
  gap: var(--spacing-l);
  height: 100%;
  width: 100%;
  padding: var(--spacing-l);
}

.content-container {
  background-color: var(--primary-bg);
  border-top: solid 8px var(--dark-shadow-border);
  border-right: solid 8px var(--light-shadow-border);
  border-bottom: solid 8px var(--light-shadow-border);
  border-left: solid 8px var(--dark-shadow-border);
  padding: var(--spacing-l);
}

.logo {
  color: var(--logo-text);
}

.center-text {
  text-align: center;
}

.line-break {
  width: 100%;
  height: 4px;
  background-color: var(--light-shadow-border);
}

.extra-padding {
  padding: calc(var(--spacing-l) * 2);
}
