@import "../../../styles.scss";

.content-container {
  position: relative;
  border-bottom: solid 8px rgb(50, 50, 50);
  border-left: solid 8px rgb(120, 120, 120);
  border-top: solid 8px rgb(120, 120, 120);
  border-right: solid 8px rgb(50, 50, 50);

  .theme-menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    text-align: start;

    a {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
