:host {
  display: block;

  .nav-column {
    display: flex;
  }

  .left {
    width: min-content;

    .controls {
      padding: var(--spacing-m);
    }
  }

  .right {
    width: 100%;

    .combatants {
      min-width: 100%;
      overflow-y: auto;
    }
  }
}
