<div class="page-container">
  <div class="column left">
    <div class="content-container title">Battle Plan</div>
    <div class="content-container controls">
      <div class="add-combatant-menu">
        <button class="player" (click)="handleAddPlayer()">Player</button>
        <button class="monster">Monster</button>
        <button class="npc">NPC</button>
      </div>
      <app-nav-buttons
        [buttonOneRoute]="'/'"
        [buttonOneText]="'Home'"
        [buttonTwoRoute]="'/about'"
        [buttonTwoText]="'About'"
      ></app-nav-buttons>
    </div>
  </div>
  <div class="column right">
    <div class="content-container combatants">
      <app-combatant-row
        *ngFor="let combatant of combatants$ | async"
        [name]="combatant.name"
        [type]="combatant.type"
        [score]="combatant.score"
      ></app-combatant-row>
    </div>
  </div>
</div>
