:host {
  display: block;
  height: 100vh;

  .column {
    display: flex;
  }

  .left {
    flex-direction: column;
    gap: var(--spacing-l);
    width: max-content;

    .controls {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .right {
    width: 100%;

    .combatants {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      gap: var(--spacing-l);
    }
  }

  .content-container > p {
    font-size: 4rem;
  }
}
