<div class="page-container">
  <h1>Battle Plan Battlefield Page</h1>
  <p>This screen will be split into 2 panes.</p>
  <p>
    The left pane (30%) will be split top and bottom, with the logo top-left and
    the "add combatants" menu bottom-left.
  </p>
  <p>
    The right pane (70% )will be the battlefield, and will house all combatants
    in editable and draggable rows.
  </p>
  <div class="start-menu">
    <button (click)="goToHome()">Home</button>
    <button (click)="goToAbout()">About</button>
  </div>
</div>
