<div class="page-container">
  <div class="column left">
    <div class="content-container">
      <p class="logo center-text">Battle Plan</p>
    </div>
    <div class="content-container controls">
      <app-combatant-creation-menu></app-combatant-creation-menu>
      <app-nav-buttons
        [buttonOneRoute]="'/'"
        [buttonOneText]="'Home'"
        [buttonTwoRoute]="'/about'"
        [buttonTwoText]="'About'"
      ></app-nav-buttons>
    </div>
  </div>
  <div class="column right">
    <div class="content-container combatants">
      <app-combatant-row
        *ngFor="let combatant of combatants$ | async; index as i"
        [combatant]="combatant"
        [index]="i"
      ></app-combatant-row>
    </div>
  </div>
</div>

<app-modal *ngIf="showModal$ | async"></app-modal>
